html {
  background-color: #FFDFC4;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.heading {
    display: flex;
    align-items: center;
}

.header-image {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}


.enlarge-image:hover img {
  transform: scale(1.2);
  transition: transform 0.2s
  }

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    margin-bottom: 20px;
}

.category {
    background-color: #F4F4F4;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.category:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#recipeContainer {
    text-align: center;
}

.contact {
    margin-top: 30px;
}

.country-box {
    background-color: #FF9270;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.country-box h3 {
    margin-top: 0;
    color: #FFF;
}

.country-box p {
    margin-bottom: 0;
    color: #FFF;
}

.recipe-box {
    background-color: #FF9270;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.recipe-box h3 {
    margin-top: 0;
    color: #FFF;
}

.recipe-box p {
    margin-bottom: 0;
    color: #FFF;
}

.order-number {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    color: #FFF;
}
